<html>

  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Profile</title>
    <link rel="icon" href="../assets/book-fill.png" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/student.css" />
    <script src="https://kit.fontawesome.com/d46d25282a.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-dark navbar-expand-lg">
      <a class="navbar-brand" href="#"><i class="fas fa-book"></i> Exam Portal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <span>
          <!-- <a class="navbar-brand" href="/study">Study Material</a> -->
          <a class="navbar-brand" href="#">Hi <%= user.firstName %>!</a>
          <a class="navbar-brand" href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a>
        </span>
      </div>
    </nav>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="#list-home"
                role="tab" aria-controls="home"><i class="fas fa-home"></i> Dashboard</a>
              <a class="list-group-item list-group-item-action " id="list-profile-list" data-toggle="list"
<<<<<<< Updated upstream
                href="#list-profile" role="tab" aria-controls="profile"><i class="fas fa-id-card"></i> Profile</a><br />
              <h5>Quizzes</h5>
=======
                href="#list-profile" role="tab" aria-controls="profile"><i class="fas fa-id-card"></i> Profile</a>
                <a class="list-group-item list-group-item-action " id="list-profile-list" 
                href="/study" role="tab" aria-controls="profile"><i class="fas fa-book-open"></i> Study Material</a><br />
            
                <h5>Action</h5>
>>>>>>> Stashed changes
              <a class="list-group-item list-group-item-action active" id="list-messages-list" data-toggle="list"
                href="#list-all" role="tab" aria-controls="messages"><i class="fas fa-list"></i> All Subjects</a>
              <!-- Loop Here -->
              <% subjects.forEach((subject)=> { %>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                  href="#list-filtered" onclick="myFunction( `<%= subject.name %>`)" role="tab"
                  aria-controls="profile"><i class="fas fa-question-circle"></i>
                  <%= subject.name %>
                </a>
                <% }) %>
            </div>
          </div>

          <div class="col-9">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade" id="list-home" role="tabpanel" aria-labelledby="list-attempts">
                <div class="card">
                  <div class="card-header text-center">
                    <h4>Attempted Quizzes</h4>
                  </div>
                  <div class="container">
                    <span id='variableJSON' hidden>
                      <%= JSON.stringify(quizAttemptedByUser); %>
                    </span>
                    <canvas id="perfChart"></canvas>
                  </div>
                  <div class="card-body">
                    <% quizAttemptedByUser.forEach((quiz)=> { %>
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-body" id="attemptInfo">
                            <b>
                              <h5 class="card-title"> <b>
                                  <%= quiz.quiz.name %>
                                </b>

                              </h5>
                            </b>
                            <h6 class="card-subtitle mb-2 text-muted">
                              <%= quiz.quiz.subject.name %>
                            </h6>
                            <p class="card-text">
                              <%= quiz.quiz.description %> <br>
                                <table class="table ">
                                  <tr>
                                    <td>
                                      <b>Marks Obtained:</b>
                                      <%= quiz.marksScored %>
                                    </td>
                                    <td>
                                      <b>Max Marks:</b>
                                      <%= quiz.quiz.maxMarks %>
                                    </td>
                                  </tr>
                                  <tr>

                                    <td>
                                      <b>Questions Attempted:</b>
                                      <%= quiz.attempted %>
                                    </td>
                                    <td>
                                      <b>Correct Answers:</b>
                                      <%= quiz.correctAnswers %>
                                    </td>
                                  </tr>
                                </table>
                                <a class="btn btn-primary" href= "<%= `/quizzes/${quiz.quiz._id}/result` %>" >View Result</a> 
                                <h6 class="card-subtitle mb-2 text-muted"><b>Attempted On:</b>
                                  <%= quiz.createdAt.toLocaleString('en-IN',{ weekday: 'short' , year: 'numeric' ,
                                    month: 'long' , day: 'numeric' , hour : 'numeric' ,minute: 'numeric' }) %>
                                </h6>
                            </p>
                          </div>
                        </div>
                      </div>
                      <% }) %>

                  </div>
                  <div class="card-footer text-center text-muted">
                    Engage '21
                  </div>
                </div>
              </div>


              <div class="tab-pane fade " id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <div class="card text-center">
                  <div class="card-header">Your Profile</div>
                  <img src="../assets/profile.jpg" alt="" />
                  <div class="card-body" id="userdetail">
                    <h5 class="card-title">
                      <%= user.firstName %>
                        <%= user.lastName %>
                    </h5>
                    <table class="table table-hover">
                      <tbody>
                        <tr>
                          <td id="property">Email</td>
                          <td id="value">
                            <%= user.email %>
                          </td>
                        </tr>
                        <tr>
                          <td id="property">Phone</td>
                          <td id="value">
                            <%= user.phone %>
                          </td>
                        </tr>
                        <tr>
                          <td id="property">Role</td>
                          <td id="value">Student</td>
                        </tr>
                      </tbody>
                    </table>
                    <a href="#" id="switch" class="btn btn-primary">Update</a>
                  </div>

                  <form id="updateProfile-form">
                    <div class="card-body" id="updateForm" hidden>

                      <table class="table table-hover">
                        <tbody>
                          <tr>
                            <td id="property">First Name</td>
                            <td id="value"><input type="text" id="update-firstName" class="form-control"
                                autocomplete="off" autofocus required value=<%=user.firstName %>
                              /></td>
                          </tr>
                          <tr>
                            <td id="property">Last Name</td>
                            <td id="value"><input type="text" id="update-lastName" class="form-control"
                                autocomplete="off" autofocus required value=<%=user.lastName %>
                              /></td>
                          </tr>
                          <tr>
                            <td id="property">Email</td>
                            <td id="value"><input type="email" id="update-email" class="form-control" autocomplete="off"
                                autofocus required value=<%=user.email %>
                              />
                            </td>
                          </tr>
                          <tr>
                            <td id="property">Phone</td>
                            <td id="value">
                              <input type="text" id="update-phone" class="form-control" autocomplete="off" autofocus
                                required value=<%=user.phone %>
                              />
                            </td>
                          </tr>
                          <tr>
                            <td id="property">Role</td>
                            <td id="value">Student</td>
                          </tr>
                        </tbody>
                      </table>
                      <button type="submit" class="btn btn-danger">Update</button>
                      <a href="#" id="cancel" class="btn btn-primary">Cancel</a>
                    </div>
                  </form>

                  <div class="card-footer text-muted">Engage '21</div>
                </div>
              </div>
              <div class="tab-pane fade show active" id="list-all" role="tabpanel" aria-labelledby="list-messages-list">
                <div class="card text-center">
                  <div class="card-header">All Quizzes</div>

                  <div class="card-body">
                    <div class="card-group">
                      <% activeQuizzes.forEach((quiz)=> { %>
                        <div class="col-md-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">
                                <%= quiz.name %>
                              </h5>
                              <h6 class="card-subtitle mb-2 text-muted">
                                <%= quiz.subject.name %>
                              </h6>
                              <p class="card-text">
                                <%= quiz.description %> <hr>
                                  <i>
                                    Questions:<%= quiz.numberOfQuestions %>
                                  </i>
                                  <br>
                                  <i>
                                    Marks: <%= quiz.maxMarks %>
                                  </i>
                                  <br>
                                  <i>Negative Marking: <%= `-${quiz.negativeMarking}` %></i>
                                  <br>
                                  <i>Time: <%= `${(quiz.timer/60).toFixed(2)} min` %></i>
                              </p>
                              <button name="start-quiz" data-quizid=<%=quiz._id %> type="button" class="btn btn-info">
                                Start
                              </button>
                            </div>
                          </div>
                        </div>

                        <% }) %>
                    </div>
                  </div>
                  <div class="card-footer text-muted">Engage '21</div>
                </div>
              </div>
              <div class="tab-pane fade" id="list-filtered" role="tabpanel" aria-labelledby="list-settings-list">
                <div class="card text-center">
                  <div class="card-header">All Quizzes</div>

                  <div class="card-body">
                    <div class="card-group">
                      <% activeQuizzes.forEach((quiz)=> { %>
                        <div class="col-6" name="quiz" id="<%= quiz.subject.name %>">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">
                                <%= quiz.name %>
                              </h5>
                              <h6 class="card-subtitle mb-2 text-muted">
                                <%= quiz.subject.name %>
                              </h6>
                              <p class="card-text">
                                <%= quiz.description %> <hr>
                                  <i>
                                    Questions:<%= quiz.numberOfQuestions %>
                                  </i>
                                  <br>
                                  <i>
                                    Marks: <%= quiz.maxMarks %>
                                  </i>
                                  <br>
                                  <i>Negative Marking: <%= `-${quiz.negativeMarking}` %></i>
                                  <br>
                                  <i>Time: <%= `${(quiz.timer/60).toFixed(2)} min` %></i>
                              </p>
                              <button name="start-quiz" data-quizid=<%=quiz._id %> type="button" class="btn btn-info">
                                Start
                              </button>
                            </div>
                          </div>
                        </div>

                        <% }) %>
                    </div>
                  </div>
                  <div class="card-footer text-muted">Engage '21</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="../js/bundle.js"></script>
  <script>
    let labels = [];
    let datasets = [];
    datasets.push({
      label: '%',
      data: [],
      backgroundColor: 'transparent',
      borderColor: 'rgba(255, 99, 132, 1)',
      borderWidth: 4,
      pointBackgroundColor: 'rgba(0, 0, 0, 0.1)',
      pointStyle: "rect"
    });

    var quizzes = JSON.parse(document.getElementById("variableJSON").innerHTML);
    document.getElementById("variableJSON").remove();
    quizzes.forEach((quiz) => {
      labels.push(quiz.quiz.name);
      datasets[0].data.push(quiz.percentage);
    });


    let perfChart = document.getElementById("perfChart").getContext('2d');
    let studentPerfChart = new Chart(perfChart, {
      type: 'line',
      data: {
        labels,
        datasets
      },
      options: {
        plugins: {
          title: {
            display: true,
            text: 'Performance in all quizzes (Quiz V/S %)'
          }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

  </script>
  <script>
    var ele = document.getElementById("switch");
    ele.onclick = showForm;
    var ele = document.getElementById("cancel");
    ele.onclick = hideForm;

    function showForm() {
      document.getElementById("userdetail").hidden = true;
      document.getElementById("updateForm").hidden = false;
    }

    function hideForm() {
      document.getElementById("userdetail").hidden = false;
      document.getElementById("updateForm").hidden = true;
    }

    function myFunction(myMessage) {
      const ele = document.getElementsByName("quiz");
      for (var i = 0; i < ele.length; i++) {
        if (ele[i].id != myMessage) {
          ele[i].hidden = true;
        } else {
          ele[i].hidden = false;
        }
      }
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>